<app-menu></app-menu>
<div class="container">

  <div class="card mt-4">
    <div class="card-header">
      <div class="row">
        <div class="col-8">
          <strong>Colaboradores de Área</strong>
        </div>
        <div class="col-4">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No Empleado</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Profile</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{user.id}}</th>
          <td>{{user.name}}</td>
          <td>{{user.lastname}}</td>
          <td>
            <select class="custom-select" (change)="update(user)" [(ngModel)]='user.profile'>
              <option value="administrador">Administrador</option>
              <option value="lider">Líder</option>
              <option value="colaborador">Colaborador</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
