<div class="container">
  <div class="row justify-content-center align-items-center minh-100">
    <div class="col-lg-12">
      <div>
        <img class="img-fluid rounded mx-auto d-block" src="../../../assets/img/error-generic.svg" alt="logo" width="25%" height="25%">
      </div>

      <div>
        <p style="font-size:24px;" class="text-center">Encontramos un error inesperado</p>
      </div>

    </div>

  </div>
</div>
