<div class="container-fluid contain-login">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" >
      <div class="card card-login">
        <img class="card-img-top" src="./../../../assets/img/logo-everis.png" alt="Logo everis">
        <div class="card-body text-center">
          <div class="alert alert-danger" *ngIf="isError" role="alert">
            No tienes permiso para acceder a la aplicación.
          </div>
          <h5 class="card-title text-center">Ingresa tú código de empleado</h5>
          <div class="input-group mb-3">
            <input type="text" class="form-control" (keyup)="isValidNumberFunction()" (keyup.enter)="sendToDashboard()" [(ngModel)]="code" placeholder="Código" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <button type="button" (click)="sendToDashboard()" [disabled]="!isValidNumber" class="btn btn-primary">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</div>
