.card-login {
  width: 30em;
  margin: 10rem auto;
  display: block;
}

.contain-login{
  position: absolute;
  height: 100%;
  background-size: cover;
}

img{
  width: 60%;
  margin: auto;
  display: block;
  margin-bottom: 3rem;
}

.card {
  border: none;
  background: transparent;
}
